* {
    background-color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}
.category {
    border: none;
    list-style: none;
    display: flex;
}

.category button {
    height: 1.75rem;
    margin: 1px;
    border: none;
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 3px;
}
.html {
    border : none;
    background-color: white;
}
.html h3 {
    border : none;
    background-color: transparent;
    margin-top: 0;
}
img {
    border: none;
    border-radius: 100px;
    width: 80px;
}
.css {
    border : none;
    background-color: white;
}
.css h3 {
    border : none;
    background-color: transparent;
    margin-top: 0;
}
.javascript {
    border : none;
    background-color: white;
}
.javascript h3 {
    border : none;
    background-color: transparent;
    margin-top: 0;
}
.react {
    border : none;
    background-color: white;
}
.react h3 {
    border : none;
    background-color: transparent;
    margin-top: 0;
}
.information {
    background-color: black;
    color: white;
    font-size: small;
    padding: 20px;
}
.information2 {
    background-color: transparent;
}